extends layout

block content
  .side
    label#connection_status.offline offline
    .chunk#top
    .chunk#bottom
  .main
    canvas#main_canvas.canvas
    canvas#drawing
  .bottom_right
    canvas.canvas#mini_canvas
  script(src="/js/client.js")
