!!!
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/jquery-ui-1.8.21.custom.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/underscore-min.js")
    script(src="/javascripts/backbone-min.js")
    script(src="/javascripts/ICanHaz.min.js")
  body!= body
